<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div th:each="brands : ${allBrands}" class='row mb-4 d-flex justify-content-around'>
        <div  class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Car brand:
                <span th:text="${brands.getName()}"></span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="list : ${brands.getAllBrandsDTOList()}">
                        <th th:text="${list.getId()}"></th>
                        <th th:text="${list.getName()}"></th>
                        <th th:text="${list.getCategory()}"></th>
                        <th th:text="${list.getStartYear()}"></th>
                        <th th:text="${list.getEndYear() != null} ? ${list.getEndYear()} : ''"></th>
                        <th><img alt="image" th:src="${list.getImageUrl()}" class="img-thumbnail rounded"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer> </footer>
    </div>
</div>
</body>
</html>
